html {
  --antd-wave-shadow-color: #7c2f70;
}

.ant-carousel .slick-dots {
  z-index: 0;
}

.ant-carousel .slick-dots li {
  box-shadow: 0 0 0 1px #7c2f7040;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #7c2f70;
}
